{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/admincss/admin.css' %}">
</head>
<body>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi explicabo officia doloremque nihil deleniti incidunt laudantium aspernatur? Non quisquam dolores recusandae fugit, nostrum ad aspernatur corporis, incidunt qui voluptatem mollitia neque quos repellat pariatur commodi perspiciatis vero, obcaecati distinctio laboriosam iste dicta. Quia, suscipit pariatur?</h3>
</body>
</html>