{% extends 'manager/base.html' %} {% block content %}
{% load static %}

<div class="dash-content">
    <div class="activity">

        <div class="title">
            <span class="text">Attendance</span>
        </div>

        {% if e1 %}
        <div class="activity-data">
            <table class="table">
                <thead>
                    <th class="data-title">Name</th>
                    <th class="data-title">Date</th>
                    <th class="data-title">Login Time</th>
                    <th class="data-title">Logout Time</th>
                    <th class="data-title">Status</th>
                </thead>
                {% for i in e1 %}
                <tbody>
                    <td class="data-list">{{i.user.get_full_name}}</td>
                    <td class="data-list">{{i.date}}</td>
                    <td class="data-list">{{i.loginTime}}</td>
                    <td class="data-list">{{i.logoutTime}}</td>
                    <td class="data-list">{{ i.status}}</td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}