{% extends 'manager/employee.html' %} {% block employee %}
{% load static %}

<div class="title">
    <span class="text">Employee List</span>
</div>   

{% if e1 %}
<div class="activity-data">
    <table class="table">
        <thead>
            <th class="data-title">Name</th>
            <th class="data-title">Contact</th>
            <th class="data-title">Email</th>
            <th class="data-title">Qualification</th>
            <th class="data-title">Date of Join</th>
            <th class="data-title">Gender</th>
            <th class="data-title">Action</th>
        </thead>
        {% for i in e1 %}
        <tbody>
            <td class="data-list">{{i.get_full_name}}</td>
            <td class="data-list">{{i.profile.phone}}</td>
            <td class="data-list">{{i.email}}</td>
            <td class="data-list">{{i.profile.qualification}}</td>
            <td class="data-list">{{ i.date_joined|date:"Y-m-d" }}</td>
            <td class="data-list">{{i.profile.gender}}</td>
            <td class="data-list" style="padding-left: 2rem;" ><i class="uil uil-trash-alt del-btn" style="font-size: 1.22rem;"></i></td>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}
