{% extends 'manager/base.html' %} {% block content %}
{% load static %}

<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Manager Dashboard</span>
        </div>

        <div class="boxes">
            <div class="box box1">
                <i class="uil uil-thumbs-up"></i>
                <span class="text">Employee</span>
                {% if em %}
                <span class="number">{{em}}</span>
                {% else %}
                <span class="number">0</span>
                {% endif %}
            </div>
            <div class="box box2">
                <i class="uil uil-comments"></i>
                <span class="text">Task</span>
                <span class="number">20,120</span>
            </div>
            <div class="box box3">
                <i class="uil uil-share"></i>
                <span class="text">Project</span>
                {% if pro %}
                <span class="number">{{pro}}</span>
                {% else %}
                <span class="number">0</span>
                {% endif %}
            </div>
            <!-- <div class="box box4">
                <i class="uil uil-share"></i>
                <span class="text">Total Share</span>
                <span class="number">10,120</span>
            </div> -->
        </div>
    </div>


</div>


{% endblock %}