{% extends 'manager/base.html' %} {% block content %}
{% load static %}


<div class="dash-content">
    <div class="activity">
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">Project</span>
        </div>
        <div class="menu-items">
            <ul class="hnav-links">
                <li>
                    <a href="{% url 'projectlist' %}">
                        <!-- <i class="uil uil-chart"></i> -->
                        <i class="uil uil-clipboard"></i>
                        <span class="link-name">List</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <i class="uil uil-chart"></i> -->
                        <i class="uil uil-clipboard"></i>
                        <span class="link-name">Assign</span>
                    </a>
                </li>
            </ul>
        </div>
        {% block project %} {% endblock %}

    </div>
</div>
{% endblock %}