{% extends 'manager/task.html' %}
{% block task %}
{% load static %}

<div class="title">
    <span class="text">Task List</span>
</div>

{% if e1 %}
<div class="activity-data">
    <table class="table">
        <thead>
            <th class="data-title">Name</th>
            <th class="data-title">Manager</th>
            <th class="data-title">Email</th>
            <th class="data-title">Qualification</th>
            <th class="data-title">Date of Join</th>
            <th class="data-title">Gender</th>
            <th class="data-title">Action</th>
        </thead>
        <tbody>
            {% for i in e1 %}
            <tr>
                <td class="data-list">{{ i.get_full_name }}</td>
                <td class="data-list">{{ i.profile.manager.get_full_name }}</td>
                <td class="data-list">{{ i.email }}</td>
                <td class="data-list">{{ i.profile.qualification }}</td>
                <td class="data-list">{{ i.date_joined|date:"Y-m-d" }}</td>
                <td class="data-list">{{ i.profile.gender }}</td>

                <!-- Form for Deleting User -->
                <td class="data-list" style="display: flex; gap: 1rem;">
                    <form action="{% url 'delete_emp' i.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="del-btn" style="background: none; border: none; cursor: pointer;">
                            <i class="uil uil-trash-alt" style="font-size: 1.22rem;"></i>
                        </button>
                    </form>
                    <button class="doc-btn" style="background: none; border: none; cursor: pointer;">
                            <a href="{{ i.profile.aadhar_card.url }}" target="_blank">
                                <i class="uil uil-file-check-alt" style="font-size: 1.22rem;"></i>
                            </a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}