{% extends 'manager/base.html' %} {% block content %}
{% load static %}

<div class="dash-content">

    <div class="activity">
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">Task</span>
        </div>
        <div class="menu-items">
            <ul class="hnav-links">
                <li>
                    <a href="{% url 'taskcreate' %}">
                        <!-- <i class="uil uil-chart"></i> -->
                        <i class="uil uil-clipboard"></i>
                        <span class="link-name">Create</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'tasklist' %}">
                        <!-- <i class="uil uil-chart"></i> -->
                        <i class="uil uil-clipboard"></i>
                        <span class="link-name">List</span>
                    </a>
                </li>
            </ul>
        </div>
        
       {% block task %} {% endblock %}
    </div>
</div>

{% endblock %}